<div class="container-fluid p-5">
    <div class="form">
        <h3>Confirm and submit your appointment information</h3>
        <form [formGroup]="informationForm" class="p-1" (ngSubmit)="submitForm()">
            <div>
                <label for="location">Location</label>
                <input formControlName="location" id="locationTextField" type="text" placeholder="choose a location" class="form-control">
                <div class="row">
                    <div class="col-6">
                        <label for="date">Date</label>
                        <input formControlName="date" id="dateTextField" type="text" placeholder="choose a date" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="location">Time</label>
                        <input formControlName="time" id="timeTextField" type="text" placeholder="choose a time" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <label for="firstName">First Name</label>
                <input formControlName="firstName" id="firstName" type="text" placeholder="John" class="form-control">
                
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" id="lastName" type="text" placeholder="Doe" class="form-control">
            </div>
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input formControlName="phoneNumber" id="phoneNumber" type="text" placeholder="1-234-567-8910" class="form-control">
            </div>
            <div>
                <label for="email">Email</label>
                <input formControlName="email" id="email" type="text" placeholder="jdoe@gmail.com" class="form-control">
            </div>
            <!-- We can put in more, but these for sure should be put in this form -->
            <div class="row p-5">
                <div class="col-4">
                    <div class="text-center">
                        <button type="button" (click)="navToMap()" class="btn btn-lg btn-light mt-5" [disabled]="!informationForm.valid" [routerLink]="['']">Change location</button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-light mt-5" [disabled]="!informationForm.valid">Confirm & submit</button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <button type="button" (click)="navToCalendar()" class="btn btn-lg btn-light mt-5" [disabled]="!informationForm.valid" [routerLink]="['']">Change date/time</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
