
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-7">
            <div class="card-body">

                <div class="input-group mb-3">
                    <input type="text" [(ngModel)] = "tempAddress">
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-dark" (click)="changeMap()">SEARCH</button>
                </div>

                <br>
                <hr>
                <br>

                <div class="text-center mt-4">
                    <div class="full" id="map">
                    </div>

                </div>

            </div>
            <div class="card-body">
                <hr>
                <div *ngFor="let location of aptLocationArray">
                    <table id="locationTable">
                        <tr (click)="changeMapCenter(location.lat, location.lng)">
                            <td class="col-lg-1">
                                <h5>{{location.name}}</h5>
                            </td>
                            <td class="col-sm-1">
                                <p>Address: {{location.formatted_address}}</p>
                            </td>
                            <td class="col-sm-1">
                                <p>Distance: {{location.distance | meterToMile | number:'.2'}} miles</p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

