<div class="container mt-5">
    <div class="row">
        <div class="col-lg">
            <div class="card shadow my-card">
                <div class="card-body">

                    <div class="input-group mb-3" id="locationInput">
                        <input type="text" [(ngModel)] = "tempAddress">
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn btn-dark" (click)="changeMap()">SEARCH</button>
                    </div>

                    <br>
                    <hr>
                    <br>

                    <div class="text-center mt-4">
                        <div class="full" id="map">
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <button class="btn my-btn chooseLocation" (click)="resetMap()">Reset Maps</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn my-btn chooseLocation" (click)="goLocation()" *ngIf="storeLocation != null">Go</button>
                    </div>

                </div>
                <div class="card-body">
                    <hr>
                    <div *ngFor="let location of aptDisplayArray">
                        <table id="locationTable">
                            <tr (click)="changeViewCenter(location)">
                                <td class="col-lg-1">
                                    <h5>{{location.name}}</h5>
                                </td>
                                <td class="col-sm-2">
                                    <p>Address: {{location.formatted_address}}</p>
                                </td>
                                <td class="col-sm-1">
                                    <p>Distance: {{location.distance | meterToMile | number:'.2'}} miles</p>
                                </td>
                                <td class="col-sm-1">
                                    <button class="btn my-btn chooseLocation" (click)="chooseLocation(location)">Choose</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

