<div class="container-fluid p-5">
    <div class="form">
        <h3>Please Select a Date and Time Range</h3> 
        <!-- this page still needs to be styped and combined with the calendar -->
        <!-- right now on submit it only logs the user's input info -->
        <form [formGroup]="dateForm" class="p-1" (ngSubmit)="submitDateForm()">

            <!-- Start Date -->
            <label class="d-block" for="startDate">Start Date</label>
            <input formControlName="startDate" id="startDate" type="date" min="{{currentDate | date:'YYYY-MM-dd'}}" class="form-control">

            <!-- End Date -->
            <div *ngIf="showSelectEndDate; else elseBlockForEndDate">
                <label class="" for="endDate">End Date</label>
                <input formControlName="endDate" id="endDate" type="date" min="{{startDate | date:'YYYY-MM-dd'}}" class="form-control">
            </div>
            <ng-template #elseBlockForEndDate>
                <label class="" for="endDateElse">End Date</label>
                <input id="endDateElse" type="date" class="form-control" disabled>
            </ng-template>
            
            <!-- Start Time -->
            <div *ngIf="showSelectStartTime; else elseBlockForStartTime">
                <label for="startTime">Start Time</label>
                <select class="form-select" formControlName="startTime" name="startTime" id="startTime">
                    <option *ngFor="let time of startTimes" [value]="time">{{ time | militaryToRegularTime }}</option>
                </select>
            </div>
            <ng-template #elseBlockForStartTime>
                <label for="startTime">Start Time</label>
                <select class="form-select" id="startTimeElse" disabled>
                </select>
            </ng-template>

            <!-- End Time -->
            <div *ngIf="showSelectEndTime; else elseBlockForEndTime">
                <label for="endTime">End Time</label>
                <select class="form-select" formControlName="endTime" name="endTime" id="endTime">
                    <option *ngFor="let time of endTimes" [value]="time">{{ time | militaryToRegularTime }}</option>
                </select>
            </div>
            <ng-template #elseBlockForEndTime>
                <label for="endTimeElse">End Time</label>
                <select class="form-select" id="endTimeElse" disabled>
                </select>
            </ng-template>

            <!-- Submit -->
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark col-sm-12" [disabled]="!dateForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>